!!!
html
  head
    meta(charset="utf-8")
    title Chatphrase
    style.
      html, body, .page {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      .inactive {
        display: none;
      }
    script(src='/adapter.js')
    script(src='/chatphrase.js')
  body
    #landing.page.active
      input#phrase(type='text')
      button(onclick="goToPhrase(document.getElementById('phrase').value)")
    #limbo.page.inactive
    #room.page.inactive
      #waiting
      video(autoplay)#vidscreen
      video(autoplay)#pip
  