extends base

append styles
  link(href='/chatphrase.css', rel='stylesheet', type='text/css')

append scripts
  script(src='/adapter.js')

block body
  #landing.page.active
    .centercell
      h1.sitename chatphrase <span class="betaspan">&nbsp;beta</span>
      form(onsubmit="goToPhrase(document.getElementById('phrase').value);return false;")
        input#phrase(type='text',pattern='.*[\\w\\-\\&\\%].*',required,autofocus)
        button#gobutton(type="submit") &#x2794;
      p see the <a href="https://github.com/stuartpb/chatphrase/wiki/README">README</a>
  #limbo.page.inactive
    #virgil
  #room.page.inactive
    #waiting
    video(autoplay)#vidscreen
    video(autoplay,muted)#pip
  script(src='/chatphrase.js')
