/* Core scaffolding */

html, body, .page {
  height: 100%;
  margin: 0;
  padding: 0;
}

.inactive {
  display: none !important;
}

/* Room scaffolding */

video {
  display: block;
}

#vidscreen {
  height: 100%;
  width: 100%;
}

#pip {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 15%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Landing page style */

#landing {
  display: table;
  margin: 0 auto;
}

.centercell {
  display: table-cell;
  vertical-align: middle;
}

.sitename {
  font-size: 64px;
  line-height: 1;
}

input, button {
  box-sizing: border-box;
  height: 48px;
  font-size: 28px;
  padding: 6px 12px;
  vertical-align: middle;
}

input {
  border: 2px solid #1d143c;
  background-color: #f6f4fc;
  color: #1d143c;
}

button {
  border: 2px solid #1d143c;
  background-color: #312164;
  color: #f6f4fc;
  cursor: pointer;
}

#phrase:invalid + #gobutton {
  color: #1d143c;
}

