/* Core scaffolding */

html, body, .page {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.page::before { /* Force full line */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Room scaffolding */

#message {
  display: inline-block;
  vertical-align: middle;
}

video {
  display: block;
}

#vidscreen {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

#pip {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 15%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Landing page style */

.centercell {
  display: inline-block;
  vertical-align: middle;
}

.sitename {
  position: relative;
  font-size: 64px;
  line-height: 1;
}

.betaspan {
  position: absolute;
  font-size: 32px;
  bottom: 10%;
  color: rgba(246, 244, 252, 0.5);
}

.betaspan a{
  color: rgba(246, 244, 252, 0.8);
}

input, button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  font-size: 28px;
  padding: 6px 12px;
  vertical-align: middle;
  margin: 0 2px;
}

input {
  border: 2px solid #1d143c;
  background-color: #f6f4fc;
  color: #1d143c;
  width: 332px;
}

button {
  border: 2px solid #1d143c;
  background-color: #312164;
  color: #f6f4fc;
  cursor: pointer;
  line-height: 1;
}

#phrase:invalid + #gobutton {
  color: #1d143c;
}
