body {
  background-color: #312164;
  color: #f6f4fc;
  font-family: Rokkitt, serif;
  text-align: center;
}

/* Normalizations */

input /*Remove red shadow on invalid inputs*/
{
  box-shadow: none;
}

input, button {
  font-family: sans-serif;
}

a {
  color: inherit;
}

p {
  font-size: 20px;
}

/* http://crbug.com/177627 and probably some other browsers */
[hidden] {
  display: none !important;
}
