body {
  background-color: #312164; 
  color: #f6f4fc;
  font-family: Rokkitt, serif;
  text-align: center;
}

/* Normalizations */

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}


input /*Remove red shadow on invalid inputs*/
{ 
    box-shadow: none;
}